@use "../foundation" as *;

.js-acc {
  &--trigger {

  }

  &--content {
    // display: none;
    &.is-active {

      .js-acc--trigger {

        .js-acc--btn::after {
          transform: translate(-50%, -50%) rotate(
            90deg);
        }
      }

      .js-acc--answer {
        max-height: 150px;
        @include mq-target(lg) {
          max-height: vw(150px,1920);
        }
      }
    }
  }

  &--answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
  }
}