@use "../foundation"as *;

.p-faq {
  background: transparent;
    &:before,&:after {
      display: none;
    }
    &__list {
      @include maxWidth(840px);
      margin-top: 30px;
      
      @include mq-target(sm) {
        padding: 0 2vw;
        max-width: fit-content;
      }
    }
  
    &__body {
      padding: 15px;
      border-top: 1px dashed $color-key-2;
      @include mq-target(sm) {
        padding: 20px;
      }
    }
  
    &__item { 
      position: relative;
      overflow: hidden;
      border: 1px solid $color-key-2;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid $color-key-2;
      }
      
  
      .js-acc--trigger {
        cursor: pointer;
        position: relative;
        @include flex($align:center, $justify:space-between);
        padding: 15px;
        @include mq-target(sm) {
          padding: 14px 16px;
        }
  


      }
    }
  
    &__btn {
      position: relative;
      width: 6.1875vw;
      height: 6.1875vw;
      position: relative;
      @include mq-target(sm) {
        width: 42px;
        height: 42px;
      }
  
      &::before, &::after {
        content: "";
        position: absolute;
        display: block;
        transition: .3s;
        background: $color-key-2;
        @include absCenter;
      }
  
      &::before {
        height: 1px;
        width: 6.1875vw;
        @include mq-target(sm) {
          width: 26px;
        }
      }
  
      &::after {
        width: 1px;
        height: 6.1875vw;
        @include mq-target(sm) {
          height: 26px;
        }
      }
    }
  
    &__heading {  
      &--title {
        text-align: left;
        font-size: min(vwsp(10px),14px);
        @include mq-target(sm) {
          font-size: 14px;
        }
      }
    }
  
    &__txt {
      a {
        color: $color-white;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: opacity 0.2s ease;
        font-size: min(vwsp(10px),14px);
        @include mq-target(sm) {
          font-size: 14px;
        }


        &:hover {
          opacity: 0.5;
        }
      }

    }
  
  
  }
  