@use "../foundation"as *;

.p-novelty {

  &__list {

    &--card {
      @include mq-target(sm) {
        @include column4(24%);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // justify-content: center;
      }
    }
    

  }

  &__item {
    position: relative;
    
    &:not(:first-child) {
      margin-top: 60px;
    }

    &--card {
      padding-top: 50px;
      padding-bottom: 10px;
      // width: 48%;
      @include mq-target(sm) {
        width: 32%;
      }
      
      @include mq-target(md) {
        width: 24%;
        // margin: 0 20px;
      }
    }


    &Inner {
      width: min(vwsp(280px),470px);
      margin: auto;

      @include mq-target(sm) {
          width: 100%;
      }
  }

  }

  &__img {
    overflow:hidden;
    position: relative;

    &::after {
      content: "";
      height: 100%;
      width: 30px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      opacity: 0;
      -webkit-transform: rotate(45deg);
      -webkit-animation: reflection 2s ease-in-out infinite;
    }

    img {
      border-radius: 4px;
    }
  }
}

@keyframes reflection {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}