@use "../foundation"as *;

.p-shop {
    &__box {
        margin-top: 20px;
        @include mq-target(sm) {
            display: flex;
        }
    }

    &__head {
        margin: 0 0 42px 0;

        @include mq-target(sm) {
            margin: 0 4% 0 0;
            width: 50%;
        }

        img {
            border: 3px solid $color-key-2;
        }
    }

    &__body {
        flex: 1;
        text-align: left;
    }


    &__map {
        border: 3px solid $color-key-2;
        position: relative;
        margin-top: 16px;
        padding-top: 61.94332%;

        .shop-item__map {
            @include absAll;
        }
    }

    &__list {

        &--sns {
            display: flex;
            margin: min(vwsp(28px), 40px) 0;
            @include mq(sm) {
                justify-content: space-between;
            }

            @include mq-target(sm) {
                margin: min(vwpc(28px), 36px) 0;
            }
        }
    }

    &__item {
        &:not(:first-child) {
            margin-top: min(vwsp(16px), 30px);
            padding-top: min(vwsp(16px), 30px);
            border-width: 1px;
            border-top-style: solid;
            border-top-color: $color-key-2;

            @include mq-target(sm) {
                margin-top: min(vwpc(18px), 24px);
                padding-top: min(vwpc(18px), 24px);
            }

        }

        dl {
            display: flex;
            font-size: min(vw(12px, 365), 18px);

            @include mq-target(sm) {
                font-size: min(vw(12px, 769), 14px);
            }

            dt {
                color: $color-key-2;
                // display: flex;
                // justify-content: space-between;
                flex-basis: min(220px, 20vw);

                @include mq-target(sm) {
                    flex-basis: min(140px, 10vw);
                }

            }

            dd {
                p {
                    margin-top: 1em;
                }


                &>:first-child {
                    margin-top: 0;
                }
            }
        }


        &--sns {
            width: 49%;
            @include mq-target(sm) {
                width: 33%;
                &:nth-of-type(2) {
                    margin: 0 2%;
                }
            }

        }
    }

    &__heading {
        color: $color-key-2;
        font-size: min(vwsp(26px), 36px);
        line-height: 1;

        @include mq-target(sm) {
            font-size: min(vwpc(26px), 36px);
        }
    }
}










[data-character="1"] .p-chara__item--bg:nth-child(1),
[data-character="2"] .p-chara__item--bg:nth-child(2),
[data-character="3"] .p-chara__item--bg:nth-child(3),
[data-character="4"] .p-chara__item--bg:nth-child(4),
[data-character="5"] .p-chara__item--bg:nth-child(5),
[data-character="6"] .p-chara__item--bg:nth-child(6),
[data-character="7"] .p-chara__item--bg:nth-child(7),
[data-character="8"] .p-chara__item--bg:nth-child(8),
[data-character="9"] .p-chara__item--bg:nth-child(9),
[data-character="10"] .p-chara__item--bg:nth-child(10) {
    opacity: 1;
}