<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>

<div class="l-modal">
    <div class="l-modal__bg js-modal-close"></div>
    <div class="l-modal__inner">
        <div class="c-sec__inner l-modal__area">
            <div class="c-modal js-modal">
                <div class="swiper p-chara-slider js-slider-main js-modal-slider">
                    <ul class="swiper-wrapper p-chara-slider__list">
                        <li class="swiper-slide p-chara-slider__item--slide">
                            <div class="p-chara-content__inner">
                                <ul class="p-chara-content__list">
                                    <li class="p-chara-content__item p-chara-content__item--bg">
                                        <figure class="p-chara-content__bg">
                                            <img src="./assets/images/charaBg_04.jpg" alt="">
                                        </figure>
                                    </li>
                                    <li class="p-chara-content__item p-chara-content__item--line">
                                        <p>「ここにセリフが入ります。」</p>
                                    </li>
                                    <li class="p-chara-content__item p-chara-content__item--chara">
                                        <figure class="p-chara-content__img p-chara-content__img--first">
                                            <img src="./assets/images/chara_01.webp" alt="">
                                        </figure>
                                    </li>
                                    <li class="p-chara-content__item p-chara-content__item--desc">
                                        <div class="p-chara-content__frame">
                                            <div class="p-chara-prof__heading">
                                                <h3>キャラクター01</h3>
                                                <p>Yamada hanako</p>
                                            </div>
                                            <p class="p-chara-prof__cv">
                                                <span>CV</span>キャラクター02
                                            </p>
                                            <ul class="p-chara-prof__list">
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>生年月日</dt>
                                                        <dd>1月1日</dd>
                                                    </dl>
                                                </li>
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>年齢</dt>
                                                        <dd>17歳</dd>
                                                    </dl>
                                                </li>
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>身長</dt>
                                                        <dd>173cm</dd>
                                                    </dl>
                                                </li>
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>身長</dt>
                                                        <dd>173cm</dd>
                                                    </dl>
                                                </li>
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>身長</dt>
                                                        <dd>173cm</dd>
                                                    </dl>
                                                </li>
                                            </ul>
                                            <p class="p-chara-prof__txt">
                                                耳かきリフレのスタッフ<br />
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <div class="c-modal__btn--close js-modal-close">
                                                <img src="./assets/images/close.webp" alt="閉じる" class="u-dp-sp--sm">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="swiper-slide p-chara-slider__item--slide">
                            <div class="p-chara-content__inner">
                                <ul class="p-chara-content__list">
                                    <li class="p-chara-content__item p-chara-content__item--bg">
                                        <figure class="p-chara-content__bg">
                                            <img src="./assets/images/charaBg_04.jpg" alt="">
                                        </figure>
                                    </li>
                                    <li class="p-chara-content__item p-chara-content__item--line">
                                        <p>「ここにセリフが入ります。」</p>
                                    </li>
                                    <li class="p-chara-content__item p-chara-content__item--chara">
                                        <figure class="p-chara-content__img p-chara-content__img--second">
                                            <img src="./assets/images/chara_02.webp" alt="">
                                        </figure>
                                    </li>
                                    <li class="p-chara-content__item p-chara-content__item--desc">
                                        <div class="p-chara-content__frame">
                                            <div class="p-chara-prof__heading">
                                                <h3>キャラクター02</h3>
                                                <p>character02</p>
                                            </div>
                                            <p class="p-chara-prof__cv">
                                                <span>CV</span>キャラクター02
                                            </p>
                                            <ul class="p-chara-prof__list">
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>生年月日</dt>
                                                        <dd>1月1日</dd>
                                                    </dl>
                                                </li>
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>年齢</dt>
                                                        <dd>17歳</dd>
                                                    </dl>
                                                </li>
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>身長</dt>
                                                        <dd>173cm</dd>
                                                    </dl>
                                                </li>
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>身長</dt>
                                                        <dd>173cm</dd>
                                                    </dl>
                                                </li>
                                                <li class="p-chara-prof__item">
                                                    <dl>
                                                        <dt>身長</dt>
                                                        <dd>173cm</dd>
                                                    </dl>
                                                </li>
                                            </ul>
                                            <p class="p-chara-prof__txt">
                                                はなこが働く耳かきリフレのオーナー<br />
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <div class="c-modal__btn--close js-modal-close">
                                                <img src="./assets/images/close.webp" alt="閉じる" class="u-dp-sp--sm">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>

                </div>


            </div>
        </div>
        <!-- <div class="swiper-pagination js-modal--pagi c-modal__pagi"></div> -->
        <div class="swiper-button-prev c-slider__btnPrev js-modal--btnPrev"></div>
        <div class="swiper-button-next c-slider__btnNext js-modal--btnNext"></div>
        <div class="c-modal__btn--close js-modal-close">
            <img src="./assets/images/close.webp" alt="閉じる" class="u-dp-pc--sm">
        </div>
    </div>
</div>

<main class="l-main">

    <section id="keyvisual" class="p-kv inview onload">
        <div class="p-kv__inner">
            <div class="p-kv__catch">
                <h1>
                    <img src="./assets/images/logo.webp" alt="ロゴ">
                </h1>
            </div>

            <p class="p-kv__obj">
                <img src="./assets/images/chara.webp" alt="キャラクター">
            </p>
        </div>
    </section>

    <!-- <header class="l-header">
        <div class="l-header__gradient"></div>
        <div class="l-header__inner">

            <div class="l-header__wrap--pc u-dp-pc--sm">
                <nav class="l-header-nav">
                    <ul class="l-header-nav__list">
                        <li class="l-header-nav__item">
                            <a href="#top">
                                TOP
                            </a>
                        </li>
                        <li class="l-header-nav__item">
                            <a href="#lineup">
                                ABOUT
                            </a>
                        </li>
                        <li class="l-header-nav__item">
                            <a href="#concept">
                                CONCEPT
                            </a>
                        </li>
                        <li class="l-header-nav__item">
                            <a href="#chara">
                                CHARACTER
                            </a>
                        </li>
                        <li class="l-header-nav__item">
                            <a href="#camp">
                                campaign
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="l-header__wrap--sp u-dp-sp--sm">
                <div class="l-drawer__trigger js-draw--trigger">
                    <span class="-line"></span>
                </div>
            </div>
        </div>
    </header> -->

    <section class="c-sec p-event inview js-scroll--fadeUp">
        <div class="c-sec__inner">
            <div class="c-sec__ttl">
                <h2>
                    <img src="./assets/images/ttl_event.png" alt="イベント">
                </h2>
                <p>
                    開催概要
                </p>
            </div>

            <h3 class="p-event__ttl">
                『メイドさんと添い寝CD』<br />
                2nd ANNIVERSARY FAIR.<br />
                in 秋葉原○○カフェ
            </h3>

            <ul class="p-event__list">
                <li class="p-event__item">
                    <dl>
                        <dt>Event - イベント</dt>
                        <dd>『メイドさんと添い寝CD』2nd ANNIVERSARY FAIR.</dd>
                    </dl>
                </li>
                <li class="p-event__item">
                    <dl>
                        <dt>Venue - 開催場所</dt>
                        <dd>秋葉原○○カフェ メインホール</dd>
                    </dl>
                </li>
                <li class="p-event__item">
                    <dl>
                        <dt>limited - 開催期間</dt>
                        <dd>
                            2023年1月1日（日）～ 2023年2月1日（日）
                        </dd>
                    </dl>
                </li>
                <li class="p-event__item">
                    <dl>
                        <dt>About - 開催内容</dt>
                        <dd>
                            秋葉原カフェでのコラボカフェイベントが開催決定！<br />多数グッズを取り揃えてお待ちしております。
                        </dd>
                    </dl>
                </li>



            </ul>
            <figure class="p-event__img">
                <img src="./assets/images/about_01.jpg" alt="">
            </figure>
<!-- 
            <div class="c-sec__points">
                <h4>

                    <span>
                        過去開催イベント一覧
                    </span>
                </h4>
            </div>

            <div class="p-event__box">
                <figure class="p-event__img">
                    <img src="./assets/images/thumb_01.jpg" alt="ノベルティ">
                </figure>
                <figure class="p-event__img">
                    <img src="./assets/images/thumb_01.jpg" alt="ノベルティ">
                </figure>
            </div> -->


            <div class="c-sec__btn">
                <a href="#" class="">
                    詳しくはこちら
                </a>
            </div>
        </div>
    </section>

    <section id="chara" class="c-sec p-chara inview js-scroll--fadeUp">


        <div class="c-sec__inner p-chara__inner inview js-slider-wrap">

            <div class="c-sec__ttl">
                <h2>
                    <img src="./assets/images/ttl_about.png" alt="メイドさんと添い寝CDとは">
                </h2>
                <p>
                    メイドさんと添い寝CDとは
                </p>
            </div>

            <div class="p-chara__wrap">
                <p class="p-chara__txt">

                    癒し系のボイス作品です。<br />
                    キャラクターのボイスに耳かきやシャンプー音などのASMR要素を加えてリスナーに癒しを与えます。
                </p>
                <p class="p-chara__txt">
                    本作品はひょんなことからメイドリフレで働くことになった主人公が<br />
                    耳かきで癒しを与えるシチュエーション音声作品です。
                </p>
            </div>




            <ul class="p-chara-staff__list">
                <li class="p-chara-staff__item js-modal-open js-scroll--slideView-delay inview">
                    <figure class="p-chara-staff__img">
                        <picture>
                            <img src="./assets/images/chara_01.webp" alt="キャラクター01">
                        </picture>
                        <p class="p-chara-staff__focus">
                            <svg>
                                <use xlink:href="./assets/images/sprite.svg#icon-play2"></use>
                            </svg>
                        </p>
                    </figure>
                    <p class="p-chara-staff__name">
                        山田はなこ
                    </p>
                </li>
                <li class="p-chara-staff__item js-modal-open js-scroll--slideView-delay inview">
                    <figure class="p-chara-staff__img">
                        <picture>
                            <img src="./assets/images/chara_02.webp" alt="キャラクター02">
                        </picture>
                        <p class="p-chara-staff__focus">
                            <svg>
                                <use xlink:href="./assets/images/sprite.svg#icon-play2"></use>
                            </svg>
                        </p>
                    </figure>
                    <p class="p-chara-staff__name">
                        オーナー
                    </p>
                </li>
                <li class="p-chara-staff__item js-scroll--slideView-delay inview">
                    <figure class="p-chara-staff__img">
                        <picture>
                            <img src="./assets/images/chara_03.webp" alt="キャラクター03">
                        </picture>
                    </figure>
                    <p class="p-chara-staff__name">
                        未定
                    </p>
                </li>
                <li class="p-chara-staff__item js-scroll--slideView-delay inview">
                    <figure class="p-chara-staff__img">
                        <picture>
                            <img src="./assets/images/chara_03.webp" alt="キャラクター03">
                        </picture>
                    </figure>
                    <p class="p-chara-staff__name">
                        未定
                    </p>
                </li>
                <li class="p-chara-staff__item js-scroll--slideView-delay inview">
                    <figure class="p-chara-staff__img">
                        <picture>
                            <img src="./assets/images/chara_03.webp" alt="キャラクター03">
                        </picture>
                    </figure>
                    <p class="p-chara-staff__name">
                        未定
                    </p>
                </li>
                <li class="p-chara-staff__item js-scroll--slideView-delay inview">
                    <figure class="p-chara-staff__img">
                        <picture>
                            <img src="./assets/images/chara_03.webp" alt="キャラクター03">
                        </picture>
                    </figure>
                    <p class="p-chara-staff__name">
                        未定
                    </p>
                </li>
            </ul>


            <div class="c-sec__btn">
                <a href="#" class="">
                    詳しくはこちら
                </a>
            </div>

        </div>
    </section>



    <section class="c-sec p-product inview js-scroll--fadeUp">
        <div class="c-sec__inner p-product__inner">
            <div class="c-sec__ttl">
                <h2>
                    <img src="./assets/images/ttl_goods.png" alt="コラボグッズ">
                </h2>
                <p>
                    コラボグッズ
                </p>
            </div>


            <ul class="p-product__list">

                <li class="p-product__item">
                    <div class="swiper c-slider__main js-index-slider">
                        <ul class="c-slider__list p-novelty__list--card swiper-wrapper">
                            <li class="swiper-slide p-product__item--card">
                                <div class="c-sec__item p-product__itemInner">
                                    <figure class="p-product__img">
                                        <img src="./assets/images/goods_01.jpg" alt="コンテンツ画像">
                                    </figure>
                                    <div class="c-sec__details">
                                        <dl class="p-product__details">
                                            <dt>
                                                【イベント限定取り扱い商品】
                                            </dt>
                                            <dd>
                                                ￥550[tax-in]
                                            </dd>
                                            <dd>
                                                2周年記念グッズ
                                            </dd>
                                            <dd>
                                                限定販売
                                            </dd>

                                        </dl>
                                        <a href="#" class="c-button">購入はこちら</a>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide p-product__item--card">
                                <div class="c-sec__item p-product__itemInner">
                                    <figure class="p-product__img">
                                        <img src="./assets/images/goods_01.jpg" alt="コンテンツ画像">
                                    </figure>
                                    <div class="c-sec__details">
                                        <dl class="p-product__details">
                                            <dt>
                                                【イベント限定取り扱い商品】
                                            </dt>
                                            <dd>
                                                ￥550[tax-in]
                                            </dd>
                                            <dd>
                                                2周年記念グッズ
                                            </dd>
                                            <dd>
                                                限定販売
                                            </dd>
                                        </dl>
                                        <a href="#" class="c-button">購入はこちら</a>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide p-product__item--card">
                                <div class="c-sec__item p-product__itemInner">
                                    <figure class="p-product__img">
                                        <img src="./assets/images/goods_01.jpg" alt="コンテンツ画像">
                                    </figure>
                                    <div class="c-sec__details">
                                        <dl class="p-product__details">
                                            <dt>
                                                【イベント限定取り扱い商品】
                                            </dt>
                                            <dd>
                                                ￥550[tax-in]
                                            </dd>
                                            <dd>
                                                2周年記念グッズ
                                            </dd>
                                            <dd>
                                                限定販売
                                            </dd>
                                        </dl>
                                        <a href="#" class="c-button">購入はこちら</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="u-dp-sp--sm">
                        <div class="swiper-button-prev c-slider__btnPrev js-slider-btnPrev"></div>
                        <div class="swiper-button-next c-slider__btnNext js-slider-btnNext"></div>
                    </div>
                </li>

                <li class="p-product__item">
                    <div class="swiper c-slider__main js-index-slider">
                        <ul class="c-slider__list p-novelty__list--card swiper-wrapper">
                            <li class="swiper-slide p-product__item--card">
                                <div class="c-sec__item p-product__itemInner">
                                    <figure class="p-product__img">
                                        <img src="./assets/images/goods_02.jpg" alt="コンテンツ画像">
                                    </figure>
                                    <div class="c-sec__details">
                                        <dl class="p-product__details">
                                            <dt>
                                                【イベント限定取り扱い商品】
                                            </dt>
                                            <dd>
                                                ￥550[tax-in]
                                            </dd>
                                            <dd>
                                                2周年記念グッズ
                                            </dd>
                                            <dd>
                                                限定販売
                                            </dd>

                                        </dl>
                                        <a href="#" class="c-button">購入はこちら</a>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide p-product__item--card">
                                <div class="c-sec__item p-product__itemInner">
                                    <figure class="p-product__img">
                                        <img src="./assets/images/goods_02.jpg" alt="コンテンツ画像">
                                    </figure>
                                    <div class="c-sec__details">
                                        <dl class="p-product__details">
                                            <dt>
                                                【イベント限定取り扱い商品】
                                            </dt>
                                            <dd>
                                                ￥550[tax-in]
                                            </dd>
                                            <dd>
                                                2周年記念グッズ
                                            </dd>
                                            <dd>
                                                限定販売
                                            </dd>
                                        </dl>
                                        <a href="#" class="c-button">購入はこちら</a>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide p-product__item--card">
                                <div class="c-sec__item p-product__itemInner">
                                    <figure class="p-product__img">
                                        <img src="./assets/images/goods_02.jpg" alt="コンテンツ画像">
                                    </figure>
                                    <div class="c-sec__details">
                                        <dl class="p-product__details">
                                            <dt>
                                                【イベント限定取り扱い商品】
                                            </dt>
                                            <dd>
                                                ￥550[tax-in]
                                            </dd>
                                            <dd>
                                                2周年記念グッズ
                                            </dd>
                                            <dd>
                                                限定販売
                                            </dd>
                                        </dl>
                                        <a href="#" class="c-button">購入はこちら</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="u-dp-sp--sm">
                        <div class="swiper-button-prev c-slider__btnPrev js-slider-btnPrev"></div>
                        <div class="swiper-button-next c-slider__btnNext js-slider-btnNext"></div>
                    </div>
                </li>



            </ul>

            <div class="c-sec__btn">
                <a href="#" class="">
                    詳しくはこちら
                </a>
            </div>
        </div>
    </section>

    <!-- <section class="c-sec p-novelty">
        <div class="c-sec__inner">
            <div class="c-sec__ttl">
                <h2>
                    <img src="./assets/images/heading_mid_02.png" alt="">
                </h2>
                <p>
                    ノベルティ
                </p>
            </div>
            <div class="c-sec__points">
                <h4>

                    <div class="c-sec__obj c-sec__obj--2">
                        <img src="./assets/images/btn_50.png" alt="">
                    </div>
                    <span>
                        <picture>
                            <source media="(min-width: 769px)" srcset="./assets/images/title_stage_pc.png">
                            <img src="./assets/images/title_stage_sp.png" alt="見出し">
                        </picture>
                    </span>
                </h4>
            </div>

            <figure class="p-event__img">
                <img src="./assets/images/Group-4.jpg" alt="">
            </figure>


            <div class="c-sec__caution">
                <p>
                    ※1回のお会計での配布上限数は4枚になります。
                </p>
            </div>

        </div>
    </section> -->


    <section id="camp" class="c-sec inview js-scroll--fadeUp">

        <div class="c-sec__inner p-camp__inner">

            <div class="c-sec__ttl">
                <h2>
                    <img src="./assets/images/heading_mid_04.png" alt="">
                </h2>
                <p>
                    キャンペーン概要
                </p>
            </div>
            

                <!-- <h2 class="p-camp__ttl">
                    <img src="./assets/images/ww02.webp" alt="説明テキスト02">
                </h2> -->
                <p class="p-camp__txt">
                    クーポン番号を購入画面で入力、以下の特典が付与されます。<br />
                    大変お得なこの機会をぜひお見逃しなく！
                </p>
                <ul class="p-feature__list">
                    <li class="p-feature__item">

                        <div class="p-feature__img">
                            <picture>
                                <img src="./assets/images/points_02.webp" alt="クーポン01">
                            </picture>
                        </div>
                        <p class="p-feature__txt">
                            【クーポン番号】
                        </p>
                    </li>
                    <li class="p-feature__item">

                        <div class="p-feature__img">
                            <picture>
                                <img src="./assets/images/points_01.webp" alt="クーポン02">
                            </picture>
                        </div>
                        <p class="p-feature__txt">
                            【クーポン番号】
                        </p>
                    </li>

                </ul>
            <ul class="p-camp__list">
                <li class="p-camp__item">
                    <dl>
                        <dt>
                            <span>開催期間</span>
                        </dt>
                        <dd>4100年01月01日&nbsp;~&nbsp;4100年01月31日</dd>
                    </dl>
                </li>
                <li class="p-camp__item">
                    <dl>
                        <dt>
                            <span>特典付与期間</span>
                        </dt>
                        <dd>4100年01月01日&nbsp;~&nbsp;4100年03月31日</dd>
                    </dl>
                </li>
            </ul>

        </div>
    </section>

    <section class="c-sec p-shop inview js-scroll--fadeUp">



        <div class="c-sec__inner">

            <div class="c-sec__ttl">
                <h2>
                    <img src="./assets/images/ttl_location.png" alt="開催場所">
                </h2>
                <p>
                    開催場所
                </p>
            </div>

            <!-- <a href="#" class="c-sec__caution">
                <p>
                    関東圏
                </p>
            </a> -->


            <div class="p-shop__box">
                <div class="p-shop__head">
                    <img src="./assets/images/map.jpg" alt="" class="u-dp-pc--sm">
                    <div class="p-shop__map">
                        <iframe class="shop-item__map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.1314398171276!2d139.77088301545086!3d35.69838298019037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ea7e2f93329%3A0x158f36257ff597b1!2z56eL6JGJ5Y6f6aeF!5e0!3m2!1sja!2sjp!4v1677552630454!5m2!1sja!2sjp"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
                <div class="p-shop__body">
                    <h4 class="p-shop__heading">
                        秋葉原○○カフェ
                    </h4>

                    <ul class="p-shop__list--sns">
                        <li class="p-shop__item--sns">
                            <a href="">
                                <img src="./assets/images/twiiter.webp" alt="">
                            </a>
                        </li>
                        <li class="p-shop__item--sns">
                            <a href="">
                                <img src="./assets/images/youtube.webp" alt="">
                            </a>
                        </li>
                    </ul>

                    <ul class="p-shop__list">
                        <li class="p-shop__item">
                            <dl>
                                <dt>住所</dt>
                                <dd>
                                    <p>
                                        〒120-0043
                                        東京都千代田区神田0-0-0<br />秋葉原○○カフェ
                                    </p>
                                    <p>
                                        秋葉原駅から徒歩5分
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        <li class="p-shop__item">
                            <dl>
                                <dt>営業時間</dt>
                                <dd>
                                    <p>
                                        11:00～19:30<br />
                                        年末年始を除き無休
                                    </p>

                                </dd>
                            </dl>
                        </li>
                        <li class="p-shop__item">
                            <dl>
                                <dt>お問合せ</dt>
                                <dd>
                                    <p>
                                        TEL：00-0000-0000<br />
                                        FAX：00-0000-0000<br />
                                        MAIL：asdf123@gmail.com
                                    </p>

                                </dd>
                            </dl>

                        </li>
                    </ul>
                    <div class="c-sec__btn">
                        <a href="#" class="">
                            詳しくはこちら
                        </a>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </section>

    <section id="sns" class="c-sec p-sns inview js-scroll--fadeUp">
        <div class="c-sec__inner p-sns__inner">

            <div class="c-sec__ttl">
                <h2>
                    <img src="./assets/images/ttl_attention.png" alt="コラボカフェ諸注意">
                </h2>
                <p>
                    コラボカフェ諸注意
                </p>
            </div>

            <ul class="p-faq__list">
                <li class="p-faq__item js-acc--content">
                    <div class="js-acc--trigger is-active">
                        <h3 class="p-faq__heading--title">クレジットカード・電子決済のご利用について</h3>
                        <div class="p-faq__btn js-acc--btn"></div>
                    </div>
                    <div class="p-faq__answer js-acc--answer">
                        <div class="p-faq__body">
                            <p class="p-faq__txt">
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="p-faq__item js-acc--content">
                    <div class="js-acc--trigger">
                        <h3 class="p-faq__heading--title">クレジットカード・電子決済のご利用について</h3>
                        <div class="p-faq__btn js-acc--btn"></div>
                    </div>
                    <div class="p-faq__answer js-acc--answer">
                        <div class="p-faq__body">
                            <p class="p-faq__txt">
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="p-faq__item js-acc--content">
                    <div class="js-acc--trigger">
                        <h3 class="p-faq__heading--title">クレジットカード・電子決済のご利用について</h3>
                        <div class="p-faq__btn js-acc--btn"></div>
                    </div>
                    <div class="p-faq__answer js-acc--answer">
                        <div class="p-faq__body">
                            <p class="p-faq__txt">
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="p-faq__item js-acc--content">
                    <div class="js-acc--trigger">
                        <h3 class="p-faq__heading--title">クレジットカード・電子決済のご利用について</h3>
                        <div class="p-faq__btn js-acc--btn"></div>
                    </div>
                    <div class="p-faq__answer js-acc--answer">
                        <div class="p-faq__body">
                            <p class="p-faq__txt">
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="p-faq__item js-acc--content">
                    <div class="js-acc--trigger">
                        <h3 class="p-faq__heading--title">クレジットカード・電子決済のご利用について</h3>
                        <div class="p-faq__btn js-acc--btn"></div>
                    </div>
                    <div class="p-faq__answer js-acc--answer">
                        <div class="p-faq__body">
                            <p class="p-faq__txt">
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <ul class="p-sns__list">
            <li class="p-sns__item">
                <a href="#">
                    <img src="./assets/images/twiiter.webp" alt="twitter">
                </a>
            </li>
            <li class="p-sns__item">
                <a href="#">
                    <img src="./assets/images/youtube.webp" alt="youtube">
                </a>
            </li>
        </ul>

    </section>



</main>

<%- include('./_inc/_footer', { pageId: pageId }) %>