@use "../foundation"as *;

.c-sec {
    position: relative;
    &__ttl {
        font-weight: 900;
        position: relative;
        filter: drop-shadow(0 0 0.1rem rgb(232, 191, 104));
        margin: 0 0 min(vwsp(14px),24px);
        @include mq-target(sm) {
            margin: 0 0 vwpc(24px);
        }


        h2 {
            position: relative;
            text-transform: uppercase;
            z-index: 10;
            color: $color-key-2;
            transform: translateZ(0px);
            @include flex($align:center,$justify:center);
            width: 100vw;
            min-width: 1280px;
            transform: translateX(-50%);
            left: 50%;

            img {
                width: min(vw(160px,365),300px);
                margin: 0 20px 14px;
                @include mq-target(sm) {
                    width: min(vw(200px,769),260px);
                    margin: 0 min(vw(20px,769),40px) min(vw(8px,769),12px);
                }
            }

            &::before,
            &::after {
                content: "";
                display: block;
                width: 50vw;
                min-width: 1280px;
                height: 2px;
                transform: translateY(-50%);
                background-color: $color-key-2;
            }
        }


        p {
            font-size: min(vw(12px,365),16px);
            color: $color-key-2;
            @include mq-target(sm) {
                font-size: min(vw(12px,769),16px);
            }
        }

    }
}